<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/myprofile.css' %}" />
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/myprofile.js' %}"></script>
  </head>

  <body>
    {% if user.is_anonymous %}
    <div class="popup-wrapper popup-login" id="popup-wrapper">
      <div class="popup-window" id="popup-window">
        <div class="popup-header">
          <h2>Вход на сайт</h2>
          <span class="popup-close" id="popup-close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.9 21.9" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 21.9 21.9">
              <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"/>
            </svg>
          </span>
        </div>
        <div class="popup-body">
          <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}

            {% if failedOnUserAuthorisation %}
            <script>
              $(document).ready(() => {
                $('#popup-wrapper').css({
                  'visibility': 'visible',
                  'opacity': '1'
                });
              });
            </script>

            <div class="login-error">
              <p>Пользователя с таким логином и паролем не существует</p>
            </div>
            {% endif %}

            <div class="popup-form-inputline">
              <label for="{{ form.username.id_for_label }}">Логин</label>
              {{ form.username }}
              {{ form.username.errors }}
            </div>
            <div class="popup-form-inputline">
              <label for="{{ form.password.id_for_label }}">Пароль</label>
              {{ form.password }}
              {{ form.password.errors }}
            </div>
            <input class="std-btn" type="submit" value="Войти" />
          </form>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="wrapper">
      <div class="without-footer">
        <div class="header-wrapper">
          <header class="header">
            <div class="logo-block">
              <span>Webpolls App</span>
            </div>
            <nav class="nav">
              <ul class="menu">
                <li><a href="{% url 'index' %}">Главная</a></li>
              </ul>
            </nav>
          </header>
        </div>

        <div class="main-wrapper">
          <main class="main">
            {% block main %} {% endblock %}
          </main>
        </div>
      </div>

      <div class="footer-wrapper">
        <footer class="footer">
          Something is to be placed in here
        </footer>
      </div>
    </div>
  </body>
</html>
